thumbHead {
font-family:Verdana;
font-size:11px;
color:#000000; 
}

thumbBody {
font-family:Verdana; 
font-size:9px; 
color:#000000;
}

head {
font-family:Verdana;
font-size:14px;
color:#eeeeee;
font-weight:bold;
}

body {
font-family:Verdana;	
font-size:12px;
color:#bbbbbb; 
}

a {
color:#ff0000;
font-family:Verdana; 
font-size:48px;
}